body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Montserrat', sans-serif;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44; 
}


.faded {
  color: rgba(255, 255, 255, 0.8); 
}

header.startup {
  background-position: center;
  background-image: url("5.1 header.jpg.jpg");
  background-size: cover;
  height: 100%;
}

header.startup hr {
  margin-top: 400px;
  margin-bottom: 30px; 
}

header.startup h1 {
  font-size: 3rem;
 
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  margin-left: 320px;
  margin-bottom: 0px;
  
}

.btn-xl {
  padding: 2rem 3.5rem; 
  font-size: 30px;
 
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44; }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}





